.clearFix:after,.clearFix:before{
    content: "";
    display: block;
    clear: both;

}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
/* 基本布局 */
.box{
    max-width: 1440px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
p{
    font-size: 1rem;
    line-height: 30px;

}
/* header部分 */
.header-container{
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    
}
.header-logo{
    width: 100%;
    height: 100%;
}
/* hero 部分 */
.hero{
    padding: 88px 0 120px;
    position: relative;
}
.hero-container{
    padding: 0 24px;
    margin: 0 156px;
}
.hero-main{
    max-width: 521px;
    padding: 40 48px 0 0;
}
.hero-main h2{
    font-size: 44px;
    line-height: 54px;
    margin:0 0 16px;
    
}
.hero-main a{
    display: block;
    padding: 16px 32px;
    width: 106px;
    background: #535FD7;
    text-align: center;
    border-radius: 3px;
}
.hero-main p{
    
   margin-bottom:  30px;
    
}

/* hero的media部分 */
.header-illustration{
    position: absolute;
    right: 0px;
    top: 0px;

}
.header-illustration img{
    position: absolute;
    top: -172px;
    right: -180px;
}
.hero-inner{
    position: relative;
}
.hero-media{
    position: absolute;
    top: 0px;
    right: -180px;
}
.hero-media-content{
    position: absolute;
    right: 0;
    top: 0;
}
.hero-media-content img{
    transform: scale(0.8) translate3d(40px, 10px, 0);
}
/* dark主题 */
.dark{
    background: #202d3f;
    color: white;
}
.dark-box{
    background: #182538;
}
.dark a{
    color: white;
}

